* Estilização do container principal */
body {
   align-items: center;
   text-align: center;
   background-size: cover;
   
}
/* Estilização do formulário de contato */



.contact-form {
    
    max-width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    text-align: center;
    align-items: center;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;

}

.contact-form h2 {
    margin-bottom: 20px;
   margin-top: 5px;
}

/* Estilização dos campos do formulário */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    align-items: center;
}

.form-group textarea {
    resize: vertical;
}

/* Estilização do botão de enviar */
.form-group button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #0056b3;
}